name: Deploy Backend MealForYou

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted  # EC2 내부 runner

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: JDK 설치
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Gradle Build
        run: |
          chmod +x ./gradlew
          ./gradlew clean build -x test

      - name: Copy JAR to deployment folder
        run: |
          cp build/libs/*.jar /home/ec2-user/MealForYou/build/libs/

      - name: Deploy using Docker Compose
        run: |
          cd /home/ec2-user/MealForYou
          docker-compose down
          docker-compose up -d --build